<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (typeof title !== "undefined"){ %>
        <title><%= title %></title>
    <%}%>
    <!-- CDN links to css framework! -->
    <link rel="stylesheet" href="public/stylesheets/style.css">
</head>
<body>
<nav>
    <a href="/">Home</a>
     |
    <a href="/skills">All Skills</a>
     |
    <a href="/skills/new">Add New Skill</a>
     |
    <span>updated: <%= time %></span>

</nav>
