<%- include("../partials/header") %>

<form action="/skills" method="POST" autocomplete="off">
    <input type="text" name="skill">
    <input type="checkbox" name="learned">
    <button type="submit">Add Skill</button>
</form>

<%- include("../partials/footer") %>