<%- include("../partials/header") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Skills</title>
</head>
<body>
    <h3><%= skill.skill %></h3>
    <h3>Learned: <%= skill.learned ? 'Yes' : 'No' %></h3>
    <a href="/skills"><p>Return</p></a>

    <%- include("../partials/footer") %>